@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Yeni Yazar Ekleme Sayfası</h1>
<form method="post" style="margin-left:20px;">

    <label>Başlık Adı</label>
    <input type="text" class="form-control" name="HeadingName" />
    <br />
    <label>Kategori</label>
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.list, new { @class = "form-control" })
    <br />
    <br />
    <button class="btn btn-outline-info">Kaydet</button>
</form>

